.whitelist {
  background: #222;
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: baseline;
}

.whitelist .headers {
  width: 100%;
  z-index: 2;
}

.whitelist .inner-left,
.whitelist .inner-right {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 2;
}

.whitelist .inner-left {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: rgba(34, 34, 34, 0.8);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.8) 40%,
    rgba(0, 0, 0, 0.8) 100%
  );
  /*background: rgba(34, 34, 34, 0.9);
  background-image: url("assets/bg-scroll-01.png");
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;*/
  width: 100%;
  min-height: 200px;
  max-width: 600px;
  position: relative;
}

.whitelist .inner-right {
  flex-direction: row;
}

.whitelist p {
  color: #c0c0c0;
}

.whitelist h3 {
  padding-bottom: 0;
}

.whitelist h2 {
  font-weight: bold !important;
  color: #b80000;
}

.whitelist h4 {
  background: transparent;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.whitelist h5 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 20px;
}

/*** INFO BOARD ***/
.whitelist .data-title {
  margin-bottom: 0;
  /*text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;*/
  text-decoration: underline;
}

.whitelist .data {
  font-size: 50px;
  color: #c0c0c0;
  font-weight: normal;
  font-family: "Share Tech Mono", monospace;
}

.whitelist .inner-left .light-opened,
.whitelist .inner-left .light-closed {
  font-size: 100px;
  position: absolute;
  top: -70px;
  right: 8px;
}

.whitelist .inner-left .light-opened {
  color: green;
}

.whitelist .inner-left .light-closed {
  color: red;
}

/*** NINJAS ***/
.whitelist .ninjas {
  position: fixed !important;
  overflow: visible !important;
  top: 0;
  width: 100%;
  height: 100vh;
}

.whitelist .ninjas .ninja {
  position: unset !important;
  overflow: visible !important;
}

.whitelist .ninjas .ninja.ice {
  left: 80px;
  top: 40%;
  max-width: 400px;
  position: absolute !important;
}

.whitelist .ninjas .ninja.fire {
  right: 80px;
  top: 20%;
  max-width: 300px;
  position: absolute !important;
}

.whitelist .inner-right .btn-spacer {
  width: 20px;
}

@media screen and (max-width: 767px) {
  .whitelist {
    padding: 8rem 1rem 4rem;
  }
  .whitelist .info-board span {
    font-size: 36px;
  }
  .whitelist .ninjas .ninja.ice {
    left: 20px;
    top: 25%;
    max-width: 160px;
  }

  .whitelist .ninjas .ninja.fire {
    right: 20px;
    top: 20%;
    max-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .whitelist {
    padding: 8rem 1rem 4rem;
  }
}
