.dex {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  text-align: center;
  background: transparent;
  background-image: url("assets/bg-home-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dex p {
  color: #c0c0c0;
}

.dex a {
  color: #f4db73;
}

.dex h2 {
  font-weight: bold !important;
  color: #b80000;
}

/*.dex img {
  width: 100%;
  padding: 8rem 6.4rem;
}*/

.dex img.stepImage {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.dex li {
  color: #c0c0c0;
  line-height: 1.4em;
}

.rmlist {
  list-style: none !important;
  margin-bottom: 1rem !important;
}

.rmlist li:before {
  content: "✓";
  color: #b80000;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .dex {
    padding: 8rem 1rem 4rem;
  }
}

@media screen and (max-width: 480px) {
  .dex {
    padding: 8rem 1rem 4rem;
  }
}
