/*** CONTAINER ***/
.hero {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: transparent;
  /*background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  overflow: hidden;
  padding: 6rem;
}

/*** CONTENT ***/
.hero .content {
  flex-basis: 50%;
  text-align: left;
  padding: 1rem;
  z-index: 2;
}

.hero .content h1 {
  font-size: 7vw;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  line-height: 0.85;
  color: #c0c0c0;
  text-shadow: -2px 0 #222, 0 2px #222, 2px 0 #222, 0 -2px #222;
}

.hero .content h2 {
  font-size: 4vw;
  font-weight: normal;
  color: #b80000;
  margin-bottom: 10px;
  /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;*/
}

.hero .content h3 {
  font-size: 1.6vw;
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
}

.hero .content h5 {
  font-size: 1.2vw;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0;
}

/*** NINJAS ***/
.hero .ninjas {
  position: relative;
  overflow: visible !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
  text-align: center;
}

.hero .ninja {
  flex-basis: 100%;
  position: absolute;
  width: 140%;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.hero .ninja.shadow {
  z-index: 1;
}

.hero .ninja.shadow img {
  width: 100%;
  margin: auto;
}

.hero .ninja.fire img {
  width: 80%;
  margin: auto;
}

.hero .ninja.ice img {
  width: 70%;
  margin: auto;
}

.hero .anticon svg {
  width: 18px !important;
  height: 18px !important;
  color: #ffb148;
}

/*** 1024 ***/
@media screen and (max-width: 1024px) {
  .hero {
    padding: 4rem;
  }
}

/*** 767 ***/
@media screen and (max-width: 767px) {
  .hero {
    padding: 4rem 1rem 7rem 1rem;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: baseline;
  }
  .hero .ninjas {
    width: 100%;
    max-width: 80%;
    align-items: baseline;
    padding: 1rem;
    top: 0;
  }
  .hero .ninja {
    width: 100%;
  }
  .hero .content {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 1rem;
  }
  .hero .content h1 {
    font-size: 8vw;
  }
  .hero .content h2 {
    font-size: 6vw;
  }
  .hero .content h3 {
    font-size: 3vw;
  }
  .hero .content h5 {
    font-size: 2vw;
  }
}

/*** 480 ***/
@media screen and (max-width: 480px) {
  .hero .ninjas {
    max-width: 100%;
    top: 0;
  }
}
