.hero {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  background-image: url("assets/bg-home-01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}

.hero .inner0 {
  align-self: center;
  flex-basis: 50%;
  padding: 1rem;
  text-align: center;
}

.hero .inner1 {
  align-self: center !important;
  width: 60% !important;
  padding: 1rem;
  left: 0 !important;
  padding: 1rem;
  position: absolute;
}

.hero .inner1.shadow {
  z-index: 1;
}

.hero .inner1.shadow img {
  width: 100%;
  margin: 0 auto;
}

.hero .inner1.fire img {
  width: 85%;
  margin: 0 auto;
}

.hero .inner1.ice img {
  width: 75%;
  margin: 0 auto;
}

.hero .inner2 {
  flex-basis: 50%;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}

.hero .inner2 h1 {
  font-size: 4.8vw;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
}

.hero .inner2 h2 {
  font-size: 2.2vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #ccc;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 6rem 1rem 2rem 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hero .inner0 {
    flex-basis: 50%;
    width: 100%;
  }
  .hero .inner1 {
    width: 100% !important;
    top: 6rem !important;
    margin: 0 auto !important;
    text-align: center;
  }
  .hero .inner1.shadow img {
    width: 60% !important;
  }
  .hero .inner1.fire img {
    width: 50% !important;
  }
  .hero .inner1.ice img {
    width: 40% !important;
  }
  .hero .inner2 {
    flex-basis: 50%;
    width: 100%;
    align-self: flex-end;
    align-items: flex-end;
  }
  .hero .inner2 h1 {
    font-size: 6.8vw;
  }
  .hero .inner2 h2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 6rem 1rem 6rem 1rem;
    min-height: calc(100vh - 40px) !important;
  }
  .hero .inner1.shadow img {
    width: 80% !important;
  }
  .hero .inner1.fire img {
    width: 70% !important;
  }
  .hero .inner1.ice img {
    width: 60% !important;
  }
  .hero .inner2 {
    align-items: flex-start;
  }
  .hero .inner2 h1 {
    font-size: 13vw;
  }
  .hero .inner2 h2 {
    font-size: 6.2vw;
  }
}

@media screen and (max-width: 550px) {
  .hero .inner1.shadow img {
    width: 100% !important;
  }
  .hero .inner1.fire img {
    width: 80% !important;
  }
  .hero .inner1.ice img {
    width: 70% !important;
  }
}
