/*** CORE TEAM ***/

.team {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  flex-direction: column;
  /*background: rgba(34, 34, 34, 0.9);*/
  background: rgba(34, 34, 34, 0.8);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.8) 40%,
    rgba(184, 0, 0, 0.8) 100%
  );
  border-top: 1px solid #222222;
  border-bottom: 1px solid #b80000;
  /*background: transparent;
  background-image: url("assets/bg-scroll-01.png");
  background-position: right center;
  background-size: cover;
  background-attachment: scroll;*/
  position: relative;
}

.team .inner1 {
  align-self: center;
  flex-basis: 50%;
  width: 100%;
  padding: 2rem 2rem 0;
  text-align: center;
  background: transparent;
  z-index: 0;
}

.team .inner1 h2 {
  padding-bottom: 40px;
  text-align: center;
  /*text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;*/
}

.team .inner2 .teamwrap h3 {
  text-align: center;
  /*text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;*/
}

.team .inner1 p {
  color: #fff;
  text-align: center;
  /*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
}

.team .inner2 {
  flex-basis: 50%;
  width: 100%;
  padding: 0 2rem 2rem;
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}

.team .socials {
  padding: 0 20px;
}

/*** TORN EDGES ***/
.team .inner2 .teamwrap {
  flex-basis: 25%;
  padding: 1rem;
}

.team .inner2 .teamwrap img {
  cursor: pointer;
  background: transparent;
  border-radius: 0 0 0 0;
}

.team .inner2 .teamwrap h4 {
  font-family: "Grechen Fuemen", cursive;
  font-size: 30px;
  color: #b80000;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.team .inner2 .teamwrap p {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

@media screen and (max-width: 1024px) {
  .team {
    padding: 8rem 1rem 8rem 1rem;
    height: auto;
  }
  .team .inner1 {
    margin: 0 0;
    flex-basis: 60%;
  }
  .team .inner2 {
    flex-basis: 40%;
    margin: 0;
  }
  .team .socials {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding: 6rem 1rem 6rem 1rem;
    flex-wrap: wrap;
  }
  .team .inner1 {
    flex-basis: 100%;
    padding: 1rem;
  }
  .team .inner2 {
    flex-direction: column;
    padding: 1rem;
  }
  .team .inner2 .teamwrap {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .team {
    padding: 6rem 1rem 6rem 1rem;
  }
}
