.team {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  flex-direction: column;
  background: #b80000;
}

.team .inner1 {
  align-self: center;
  flex-basis: 50%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background: transparent;
}

.team .inner2 {
  align-self: center;
  flex-basis: 50%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background: transparent;
}

.team .inner1 h2 {
  padding-bottom: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.team .inner1 p {
  color: #c0c0c0;
  font-weight: bold;
  text-align: center;
}

.team .inner2 img {
  width: 100%;
  display: inline-flex;
}

.team .inner1 img.socials {
  width: 16.66666666666667%;
  cursor: pointer;
  float: left;
}

.team .socials {
  padding: 0 20px;
}

@media screen and (max-width: 1024px) {
  .team {
    padding: 8rem 1rem 2rem 1rem;
    height: auto;
  }
  .team .inner1 {
    margin: 0 0;
    flex-basis: 60%;
  }
  .team .inner2 {
    flex-basis: 40%;
    margin: 0;
  }
  .team .socials {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .team {
    padding: 2rem 1rem 2rem 1rem;
    flex-wrap: wrap;
  }
  .team .inner1 {
    flex-basis: 100%;
  }
  .team .inner2 {
    flex-basis: 100%;
  }
  .team .socials {
    padding: 0 5px;
  }
}

@media screen and (max-width: 480px) {
  .team {
    padding: 2rem 1rem 2rem 1rem;
  }
}
