.team {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  flex-direction: column;
  background: #b80000;
}

.team .inner1 {
  align-self: center;
  flex-basis: 50%;
  width: 100%;
  padding: 2rem 2rem 0;
  text-align: center;
  background: transparent;
}

.team .inner1 h2 {
  padding-bottom: 40px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.team .inner1 p {
  color: #c0c0c0;
  font-weight: bold;
  text-align: center;
}

.team .inner2 {
  flex-basis: 50%;
  width: 100%;
  padding: 0 2rem 2rem;
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

.team .socials {
  padding: 0 20px;
}

/*** TORN EDGES ***/
.team .inner2 .teamwrap {
  flex-basis: 33.333%;
  padding: 1rem;
}

.team .inner2 .teamwrap img {
  cursor: pointer;
  background: transparent;
  border-radius: 0 0 0 0;
}

.team .inner2 .teamwrap h4 {
  font-family: "Grechen Fuemen", cursive;
  font-size: 26px;
}

@media screen and (max-width: 1024px) {
  .team {
    padding: 8rem 1rem 2rem 1rem;
    height: auto;
  }
  .team .inner1 {
    margin: 0 0;
    flex-basis: 60%;
  }
  .team .inner2 {
    flex-basis: 40%;
    margin: 0;
  }
  .team .socials {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding: 2rem 1rem 2rem 1rem;
    flex-wrap: wrap;
  }
  .team .inner1 {
    flex-basis: 100%;
  }
  .team .inner2 {
    flex-direction: column;
  }
  .team .inner2 .teamwrap {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .team {
    padding: 2rem 1rem 2rem 1rem;
  }
}
