/*** WHAT IS MONKEY NINJA ***/

.about {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  background: #222;
}

.about .inner1 {
  align-self: center;
  flex-basis: 60%;
  padding: 2rem;
  background: transparent;
  border-radius: 1em;
}

.about .inner2 {
  align-self: center;
  flex-basis: 40%;
  padding: 2rem;
}

.about .inner1 h2 {
  padding-bottom: 40px;
  color: #b80000;
  font-weight: bold;
  text-align: center;
  /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;*/
}

.about .inner1 p {
  color: #c0c0c0;
  font-weight: normal;
  text-align: center;
}

.about-star {
  width: 140px;
  height: 140px;
  /*position: absolute;
  top: 93vh;*/
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 8rem 1rem 2rem 1rem;
    height: auto;
  }
  .about .inner1 {
    flex-basis: 60%;
    margin: 0;
  }
  .about .inner2 {
    flex-basis: 40%;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 2rem 1rem 2rem 1rem;
    flex-wrap: wrap;
  }
  .about .inner1 {
    flex-basis: 100%;
    padding: 1rem;
  }
  .about .inner2 {
    flex-basis: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding: 2rem 1rem 2rem 1rem;
  }
}
