/*** WHAT IS MONKEY NINJA ***/

.about {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  background: transparent;
  background-image: url("assets/bg-scroll-01.png");
  background-position: right center;
  background-size: cover;
  background-attachment: scroll;
}

.about .inner1 {
  align-self: center;
  flex-basis: 60%;
  padding: 2rem;
  background: transparent;
  border-radius: 1em;
}

.about .inner2 {
  align-self: center;
  flex-basis: 40%;
  padding: 2rem;
  text-align: center;
}

.inner2 img {
  max-height: 600px;
}

.about .inner1 h2 {
  padding-bottom: 40px;
  color: #b80000;
  font-weight: bold;
  text-align: center;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.about .inner1 p {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.about-star {
  width: 140px;
  height: 140px;
  /*position: absolute;
  top: 93vh;*/
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 8rem 1rem 8rem 1rem;
    height: auto;
  }
  .about .inner1 {
    flex-basis: 60%;
    margin: 0;
  }
  .about .inner2 {
    flex-basis: 40%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 6rem 1rem 6rem 1rem;
    flex-wrap: wrap;
  }
  .about .inner1 {
    flex-basis: 100%;
    padding: 1rem;
  }
  .about .inner2 {
    flex-basis: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 6rem 1rem 6rem 1rem;
  }
}
