/* COLORS */
/* Red: #b80000 */
/* Gold: #ffb148 */
/* Light Gold: #f4db73 */
/* Charcoal: #222222 */
/* Dark Border: #111111 */
/* White: #ffffff */
/* Grey Text: #cccccc */

.dojo {
  background: #b80000;
  width: 100%;
  min-height: 90vh;
  padding: 8rem 6.4rem;
  text-align: center;
}

.heading {
  width: 100%;
  padding: 0 0 0;
  text-align: center;
  flex-basis: 100%;
}

.reset {
  padding: 10px 12px;
  font-size: 16px;
  line-height: 0.5;
}

.character {
  flex-basis: 100%;
  padding: 0 0 0;
  text-align: center;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.character .ninja {
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  text-align: center;
  background: transparent;
}

.character .ninja .unused {
  min-width: 40px;
  max-width: 100px;
  border-radius: 10px;
  border: 2px solid #580000;
  background: #b80000;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.character .ninja .unused:hover {
  padding: 10px;
}

.character .weapon {
  align-items: flex-end;
  justify-content: center;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  background: transparent;
}

.character .weapon .unused {
  min-width: 40px;
  max-width: 80px;
  border-radius: 10px;
  border: 2px solid #ffb148;
  background: #f4db73;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.character .preview {
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  padding: 1rem;
  text-align: center;
  background: transparent;
  position: relative;
}

.character .preview .inuse {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.character .armor {
  align-items: flex-start;
  justify-content: center;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  background: transparent;
}

.character .armor .unused {
  min-width: 40px;
  max-width: 80px;
  border-radius: 10px;
  border: 2px solid #222;
  background: #444;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.character .skill {
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  text-align: center;
  background: transparent;
}

.character .skill .unused {
  min-width: 40px;
  max-width: 80px;
  border-radius: 10px;
  border: 2px solid #222;
  background: #444;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.character .ninja .unused:hover,
.character .weapon .unused:hover,
.character .armor .unused:hover,
.character .skill .unused:hover {
  padding: 10px;
}

.useKatana,
.useKunai,
.useShuriken {
  position: relative;
  max-width: 300px;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: -300px;
}

.useShuriken {
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .useKatana,
  .useKunai,
  .useShuriken {
    max-width: 300px;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: -100%;
  }
  .useShuriken {
    z-index: 3;
  }
}

@media screen and (max-width: 700px) {
  .dojo {
    padding: 8rem 1rem;
  }
  .unused {
    width: 50px !important;
  }
}
