@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/* COLORS */
/* Red: #b80000 */
/* Gold: #ffb148 */
/* Light Gold: #f4db73 */
/* Charcoal: #222222 */
/* Dark Border: #111111 */
/* White: #ffffff */
/* Grey Text: #cccccc */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  color: #fff;
  list-style: none;
}

ul,
ol {
  list-style-position: inside;
  color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  background-color: #b80000;
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

p {
  line-height: 1.6;
  padding-bottom: 20px;
}

a {
  color: #ffb148;
}

a:hover {
  color: #f4db73;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 70px;
  color: #ffffff;
  font-family: "Archivo Black", sans-serif;
  text-transform: capitalize;
  padding: 0 0 20px;
}

h2 {
  font-size: 50px;
  color: #222222;
  font-family: "Archivo Black", sans-serif;
  padding: 10px 0;
}

h3 {
  font-size: 30px;
  color: #fff;
  font-family: "Manrope";
  padding: 0 0 10px;
}

h4 {
  font-size: 20px;
  color: #fff;
  font-family: "Manrope";
  padding: 10px 0;
}

h1,
h2 {
  letter-spacing: -0.1rem;
  font-weight: normal;
}

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #b80000;
  --color-footer: #b80000;
  --color-blog: #b80000;
  --color-text: #ffffff;
  --color-subtext: #bebebe;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 10vw;
  }
  h3 {
    font-size: 8vw;
  }
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
}
