@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* COLORS */
/* Red: #b80000 */
/* Gold: #ffb148 */
/* Light Gold: #f4db73 */
/* Charcoal: #222222 */
/* Dark Border: #111111 */
/* White: #ffffff */
/* Grey Text: #c0c0c0 */

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #f4db73 !important;
}

.menuItem {
  color: #fff !important;
  background: transparent;
  font-size: 12px;
}

.ant-menu-item {
  text-transform: uppercase;
  padding: 0 15px !important;
  background-color: transparent !important;
}

.ant-menu-item a:hover {
  color: #f4db73 !important;
}

.ant-menu-item.tokenPrice,
.ant-menu-item.tokenPrice:hover,
.ant-menu-item.tokenPrice:active {
  color: #fff;
  background: transparent !important;
  margin-top: 10px !important;
  padding: 0;
}

.ant-menu-vertical > .ant-menu-item {
  height: 40px;
  line-height: 40px;
}

.ant-menu-submenu-title {
  height: 60px;
  padding-top: 4px !important;
}

.ant-layout-header {
  color: #fff;
}

.ant-back-top {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffb148;
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ant-back-top-content {
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #ffb148;
  border-radius: 50%;
  transition: all 0.3s;
}

.ant-back-top-content:hover {
  background-color: #f4db73;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #fff !important;
  cursor: pointer;
}

.ant-menu-dark .ant-menu-vertical {
  background: #222;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100%;
  padding: 4rem;
  position: fixed;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.8);
}

.ant-modal {
  background: #222;
}

.ant-modal-header {
  background: transparent;
  border-bottom: 0px;
}

.ant-modal-title {
  color: #fff;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 0;
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0px;
  box-shadow: 0 0 0 0;
}

.ant-modal-body {
  background: transparent;
  text-align: center;
  padding-top: 2.5rem !important;
}

.ant-modal-content h4 {
  padding-bottom: 0;
}

.ant-modal-close:hover {
  background: #222;
  color: #f4db73;
}

.ant-modal h2 {
  color: #b80000;
  margin-bottom: 15px;
  font-size: 2.4rem;
}

.ant-tabs {
  flex-wrap: wrap;
  width: 100%;
  background-image: url("assets/bg-dex-01.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ant-tabs .ant-tabs-nav {
  margin-top: 60px;
  display: none;
}

.ant-tabs-content-holder {
  width: 100%;
}

.ant-layout {
  background: #222;
  height: 100vh !important;
}

.anticon svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.ant-menu-item .anticon svg {
  margin: 0 0 -2px !important;
  width: 16px;
  height: 16px;
}

.anticon-close svg {
  color: #c0c0c0;
  width: 30px;
  height: 30px;
  padding: 0;
}

.walletconnect-modal__mobile__toggle_selector {
  background: #444 !important;
}

.ant-card.ant-card-bordered {
  background: #222;
  border: 0px solid #222 !important;
  padding: 10px;
}

.ant-card-bordered .ant-card-cover {
  height: auto !important;
}

.ant-card-cover img {
  height: auto !important;
  border-radius: 0 0 0 0;
}

.ant-card-meta-title,
.ant-card-meta-description {
  color: #fff;
}

.ant-card-actions {
  background: #222;
  border-top: 0px;
}

.ant-card-actions > li:not(:last-child) {
  border-right: 0px;
}

.ant-card-actions svg {
  fill: #fff !important;
}

.nft-container {
  padding: 8rem 6.4rem;
  width: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #222222;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.ant-btn {
  line-height: unset;
  position: relative;
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: auto;
  padding: 10px 20px;
  margin: 5px 0 !important;
  font-size: 20px;
  border-radius: 0px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
}

button,
.ant-btn.ant-btn-primary {
  padding: 10px 20px;
  background: #ffb148;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-color: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: unset !important;
}

button:hover,
.ant-btn.ant-btn-primary:hover {
  background: #f4db73;
}

.ant-input {
  box-sizing: border-box;
  margin: 5px 0 !important;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  line-height: unset;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  transition: all 0.3s;
}

.ant-input-affix-wrapper {
  margin: 5px 0 5px 0;
  border-radius: 0;
}

.dexInput::placeholder,
.dexInput::-webkit-inline-placeholder,
.ant-input-number-input::placeholder,
.ant-input-number-input::-webkit-inline-placeholder {
  color: #fff;
}

.ant-input-number-handler-wrap {
  display: none;
}

.copyText input {
  width: 100%;
}

.footerMain {
  text-align: center;
  background: #222;
  font-family: "Manrope";
  padding: 3rem 1rem 3rem 1rem;
}

.footerinner1 {
  display: flex;
  justify-content: center;
  padding: 0 0 0 0;
}

.footerText {
  width: 100%;
  text-align: center;
  color: #fff;
  display: block;
  padding: 5px 0;
}

.footerText h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #b80000;
  margin-bottom: 10px;
  padding-top: 0;
}

.footerText a,
.footerText a:hover,
.footerText a:active {
  color: #f4db73;
}

.skew {
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skew(-20deg);
}

.ant-modal .nativeBalance {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 12px;
}

/*** INVENTORY ***/
.inventory {
  background: #222;
  width: 100%;
  /*min-height: 100vh;*/
  padding: 8rem 6.4rem;
  text-align: center;
}

.inventory p {
  color: #c0c0c0;
}

.inventory h2 {
  font-weight: bold !important;
  color: #b80000;
}

.inventory .ant-card {
  width: 23% !important;
  margin: 1%;
}

@media screen and (max-width: 1024px) {
  .ant-menu-item.tokenPrice {
    left: 140px !important;
  }
  .ant-modal .menuItem {
    text-align: center;
    font-size: 16px;
  }
  .ant-modal .tokenPrice {
    position: absolute;
    top: 0.3rem;
    left: 1rem;
    font-size: 12px;
  }
  .inventory .ant-card {
    width: 31% !important;
    margin: 1%;
    background: #222222 !important;
  }
}

@media screen and (max-width: 767px) {
  .footerMain {
    padding: 3rem 1rem 6rem 1rem;
  }
  .ant-back-top {
    bottom: 60px;
  }
  .ant-menu-dark .ant-menu-vertical {
    padding: 1rem;
  }
  .ant-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100% !important;
    height: 100vh !important;
    margin: 0;
    top: 0;
    padding: 0.5rem;
    font-size: 16px;
    background: rgba(34, 34, 34, 0.98);
  }
  .ant-modal-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ant-modal-body {
    min-width: 300px;
    text-align: center;
  }
  .ant-card {
    background: transparent !important;
  }
  .ant-card-body {
    background: transparent;
  }
  .inventory .ant-card {
    width: 48% !important;
    margin: 1%;
    background: #222222 !important;
  }
  .inventory {
    padding: 8rem 1rem 4rem;
  }
}

@media screen and (max-width: 480px) {
  .inventory .ant-card {
    width: 100% !important;
    margin: 5px 0;
    background: #222222 !important;
  }
}
