/*** NFT UTILITY ***/

.utility {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 6.4rem;
  display: flex;
  background: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.utility .inner1 {
  align-self: center;
  flex-basis: 50%;
  padding: 2rem;
  background: transparent;
  border-radius: 1em;
}

.utility .inner2 {
  align-self: center;
  flex-basis: 50%;
  padding: 2rem;
}

.utility .inner1 h2 {
  padding-bottom: 40px;
  color: #b80000;
  font-weight: bold;
  text-align: center;
  /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;*/
}

.utility .inner1 p {
  color: #c0c0c0;
  font-weight: normal;
  text-align: center;
}

.utility-star {
  width: 140px;
  width: 140px;
  /*position: absolute;
  top: 93vh;*/
}

@media screen and (max-width: 1024px) {
  .utility {
    padding: 8rem 1rem 2rem 1rem;
    flex-wrap: wrap;
    height: auto;
  }
  .utility .inner1 {
    flex-basis: 100%;
    margin: 0;
  }
  .utility .inner2 {
    flex-basis: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .utility {
    padding: 2rem 1rem 2rem 1rem;
  }
  .utility .inner1 {
    padding: 1rem;
  }
  .utility .inner2 {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .utility {
    padding: 2rem 1rem 2rem 1rem;
  }
}
